.popup-fornecedor {

    width: 100%;

    border-top: none;
    border-right: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: white;

    position: absolute;

    overflow-x: hidden;

}

.popup-produto {

    width: 87%;

    margin-left: 2%;

    border-top: none;
    border-right: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: white;

    position: absolute;

}

.lista-item {

    width: 100%;

    max-height: 12vh;

    padding: 2%;

    margin-bottom: 1%;

    list-style: none ;

    overflow-y: auto;
}

.item-lista {

    color: #605d5d;

    padding-left: 1%;
    border-bottom: 1px solid rgb(238, 236, 236);

}

.item-lista:hover {

    cursor: pointer;

    background-color: beige;

}


.criar-item {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: column;

    border-top: 1px solid #e7e7e7;


}

.criar-item:hover {
    cursor: pointer;
}

.texto-cadastrar {
    color: #605d5d;
}

