.div-form-compras-none {
    display: none;
}

.div-form-compras {

    width: 100%;
    height: 90vh;
    top: 0;
    position: absolute;
    background-color: white;
    display: block;
    padding-bottom: 40px;
    overflow-y: auto;
}