.navBar {
    width: 100%;
    height: 15vh;

    background-color: #36474F;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 614px) {
    .navBar {
        height: 9vh;
    }

}

.div-logo {
    width: 13%;
    margin-left: 2%;
}

.img-logo {

    width: 100%;

}

.menu-user {
    width: 10%;
    height: 45%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon-user {

    padding: 1px 3px 3px 3px;

}

.icon-user:hover {
    cursor: pointer;
    border: 1px solid rgb(171, 169, 169);
    border-radius: 40px;
    padding: 1px 3px 3px 3px;
    
}

.menu-usuario-desativado {

    width: 20%;
    height: auto;

    position: fixed;

    z-index: -4;

    background-color: #36474F;
    border: 1px solid #9b9898;

    animation-name: desativar-menu-usuario;
    animation-duration: 1s;
    animation-timing-function: 1;
    animation-delay: 0.4ms;
    animation-fill-mode: both;

}

@keyframes desativar-menu-usuario {
    0% {
        right: 0%;
    }

    100% {
        right: -20%;
        visibility: hidden;
    }
}

.menu-usuario {
    width: 20%;
    height: auto;

    position: fixed;

    z-index: 4;


    background-color: #36474F;
    border: 1px solid #9b9898;

    animation-name: ativar-menu-usuario;
    animation-duration: 1s;
    animation-timing-function: 1;
    animation-delay: 0.4ms;
    animation-fill-mode: both;

}

@keyframes ativar-menu-usuario {
    0% {
        right: -20%;
        visibility: visible;
    }

    100% {
        right: 0%;
    }
}

.lista-menu-usuario {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-menu-usuario {
    color: #9b9898;
    text-align: center;
}